.card {
    width: 230px;
    margin: 1%;
}

.img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    overflow: hidden;
}

.text p {
    margin: 2px;
}